*{
    box-sizing: border-box;
}
nav {
    position: absolute;
    left: 5%;
    right:5%;
}
.home {
    background-color: green;
}
.trainingen {
    background-color: yellow;
}
.Consultancy {
    background-color: red;
}
.timeline {
    background-color: blue;
}
.herders {
    background-color: yellow;
}
.overons {
    background-color: red;
}
.contact {
    background-color: blue;
}
.producten {
    background-color: blue;
}
