body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
p1,p2 {
   font-size: 25px;
}
 .container {
   color: orange;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1cm;
    letter-spacing: 15px;
 }
 .secondtext {
    width: 50%;
    float: left;
 }
.text {
   width: 50%;
   float: right;
}
.clearfix:after {
   content: "";
   display: table;
   clear: both;
}