body {
    background-color: white;
  }
  .container {
    margin-left: 3%;
    margin-top: 2%;
    background-color: red;
    height: 645px;
    width: 1400px;
  }
  
  @media only screen and (max-width: 900px) {
    .container {
        margin-top: 10%;
        margin-left: 5%;
      background-color:  yellow;
      height: 500px;
      width: 750px;
    }
  }
@media only screen and (max-width: 600px) {
.container {
      background-color: green;
      margin: auto;
      margin-top: 25%;
      width: 350px;
      height: 400px;
}
}
@media only screen and (max-width: 500px) {
    .container {
        background-color: blue;

        width: 100px;
        height:300px ;
}
}